@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">


    <div id="content"></div>
    <script type="text/javascript">
    </script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.0/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>

    <h1>BHI Digital Asset Portal</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>