@model BHI_Asset_Portal_WebApp.Models.PremiumAd
@{

}
<div class="row">
    <div class=""></div>
</div>


@Html.Partial($"/Views/CreativeSets/NativeAdsedit.cshtml", Model.NativAds)

<hr />
@Html.Partial($"/Views/CreativeSets/BannerAdsedit.cshtml", Model.BannerAds)
